<div class="component-wrapper">
    <h1>{{title}}</h1>
    <table class="moduleTable">
        <tr>
            <th class="deleteColumn"></th>
            <th>URL</th>
            <th>Beta</th>
            <th>Name</th>
            <th>Version</th>
            <th>Check</th>
        </tr>
        <tr *ngFor="let module of modules; let idx = index">
            <td class="deleteColumn">
                <button (click)="deleteModule(module)"
                        *ngIf="!module.isRequired"
                        class="deleteButton">
                        <i class="fa fa-times"></i></button>
            </td>
            <td>
                <input [(ngModel)]="module.location" 
                        (blur)="updateModuleInfo(module)" 
                        [readonly]="module.isRequired"
                        placeholder="location of product.json" />
            </td>
            <td>
                <input [(ngModel)]="module.isBeta" type="checkbox">
            </td>
            <td>{{module.name}}</td>
            <td>{{module.version}}</td>
            <td>
                <i *ngIf="!(module.warnings || module.errors)" class="fa fa-check-circle fw-check-icon" title="Looks good!"></i>
                <i *ngIf="module.warnings" class="fa fa-exclamation-triangle fw-warning-icon" title="{{module.warnings}}"></i>
                <i *ngIf="module.errors" class="fa fa-exclamation-triangle fw-error-icon" title="{{module.errors}}"></i>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input #newUrl 
                       (blur)="addModule(newUrl)"
                       (keyup.enter)="addModule(newUrl)"
                       placeholder="add new" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div style="height: 28px; padding: 8px 0;">
        <button class="actionButton" (click)="save($event)">Save</button>
        <button class="actionButton" (click)="loadDefaults()">Load Defaults</button>
    </div>
</div>